<template>
  <div class="{{dashCase component}}">
    New Component
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: '{{properCase component}}',

  data(){
    return {

    }
  }

});
</script>

<style lang="scss" src="./{{properCase component}}.scss" scoped></style>
